.card-body {
	h2 {
		font-family: 'KG Happy Solid';
		font-size: x-large;
	}
	h4 {
		font-family: 'KG Happy Solid';
		font-size: medium;
		color: rgb(255, 255, 255);
	}

	.salado {
		background-color: green;
	}
	.dulce {
		background-color: red;
	}
}