@font-face {
	font-family: "KG Happy";
	src: url("../assets/fonts/KGHAPPY.ttf");
}

@font-face {
	font-family: "KG Happy Solid";
	src: url("../assets/fonts/KGHAPPYSolid.ttf");
}

@font-face {
	font-family: "KG Happy 2";
	src: url("../assets/fonts/KGHAPPYShadows.ttf");
}
