<div class="container">
	<div class="aboutUsGroup">
		<div class="imagenAboutUs">
			<img src="../../../../assets/img/panes.jpg" alt="panes">
		</div>
		<div class="infoGroup" id="nosotros">
			<div class="textCont">
				<h3>CONOCENOS</h3>
			</div>
			<div class="textCont">
				<h1>Quiénes somos?</h1>
			</div>
			<div class="textCont">
				<p>Somos un negocio familiar en el que fabricamos cosas muy ricas para que tus meriendas y comidas sean mucho mejores</p>
			</div>
		</div>
	</div>

	<div class="aboutUsGroup">
		<div class="infoGroup" id="contacto">
			<div class="textCont">
				<h3>CONTACTO</h3>
			</div>
			<div class="textCont">
				<h1>Hace tu consulta</h1>
			</div>
			<div class="textCont">
				<p>Podés hacernos preguntas sobre envios, disponibilidad y productos al</p>
				<p><mat-icon class="icon-phone">phone</mat-icon>1123890890</p>
			</div>
		</div>
		<div class="imagenAboutUs">
			<img src="../../../../assets/img/prepizzas2.jpg" alt="panes">
		</div>
	</div>
</div>
